{% extends "users/base.html" %}

{% load static %}

{% block user_action %}
  <div class="text-center">
    <img src="{% static 'img/brain.svg' %}" class="mb-3" width="70" alt="иконка" />
    <h1 class="h3 mb-3 fw-normal">Добро пожаловать!</h1>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% include "includes/make_form.html" %}
    <div class="row flex-lg-row align-items-center">
      <div class="row gap-2">
        <div class="col">
          <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        <div class="col">
          <a href="{% url 'social_auth:begin' 'google-oauth2' %}">
            <img width="38px" src="{% static 'img/google.svg' %}" />
          </a>
        </div>
        <div class="col">
          <a href="{% url 'social_auth:begin' 'yandex-oauth2' %}">
            <img width="38px" src="{% static 'img/yandex.svg' %}" />
          </a>
        </div>
      </div>
    </div>
  </form>
{% endblock user_action %}
