{% extends "users/detail.html" %}

{% block user_page %}
  {% if organizations %}
    <div class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Организация</th>
            <th scope="col">Роль</th>
            {% if user.pk == request.resolver_match.kwargs.pk %}
              <th scope="col">Действие</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for organization in organizations %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a class="nav-link" href="{{ organization.organization.get_absolute_url }}">{{ organization.organization.name }}</a></td>
              <td>{{ organization.get_role_display }}</td>
              {% if user.pk == request.resolver_match.kwargs.pk %}
                <td>
                  {% if organization.role == 0 %}
                    <a href="{% url 'organization:update_user_role' pk=organization.organization.pk user_pk=request.user.pk new_role=1 %}" class="nav-link">Принять</a>
                  {% else %}
                    <a href="{% url 'organization:profile' pk=organization.organization.pk %}" class="nav-link">Войти</a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "includes/pagination.html" %}
  {% else %}
    {% include "includes/empty.html" %}
  {% endif %}
{% endblock user_page %}
