{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container col-xxl-8">
    <div class="container col-xxl-11">
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:user_profile' %}active{% else %}text-dark{% endif %}" {% if view_name == 'users:user_profile' %}aria-current="page"{% endif %} href="{% url 'users:user_profile' pk=user.id %}">Профиль</a>
          </li>
          {% if request.user.is_staff or request.user.id == user.id %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'users:user_profile_change' %}active{% else %}text-dark{% endif %}" {% if view_name == 'users:user_profile_change' %}aria-current="page"{% endif %} href="{% url 'users:user_profile_change' pk=user.id %}">Изменить профиль</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:user_quizzes' %}active{% else %}text-dark{% endif %}" {% if view_name == 'users:user_quizzes' %}aria-current="page"{% endif %} href="{% url 'users:user_quizzes' pk=user.id %}">Соревнования</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:user_answers' %}active{% else %}text-dark{% endif %}" {% if view_name == 'users:user_answers' %}aria-current="page"{% endif %} href="{% url 'users:user_answers' pk=user.id %}">Полылки</a>
          </li>
        </ul>
      {% endwith %}
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 pb-5 pt-1">
      {% block user_page %}{% endblock user_page %}
    </div>
  </div>
{% endblock content %}
