{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container col-xxl-9 mb-4">
    <h2 class="fw-bold display-6">
      BrainForces Round {{ quiz.pk }}
    </h2>
    {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'quiz:quiz_detail' %}active{% else %}text-dark{% endif %}" {% if view_name == 'quiz:quiz_detail' %}aria-current="page"{% endif %} href="{% url 'quiz:quiz_detail' pk=quiz.pk %}">Описание</a>
        </li>
        {% if can_access_questions %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'quiz:questions' or view_name == 'quiz:question_detail' %}active{% else %}text-dark{% endif %}" {% if view_name == 'quiz:questions' or view_name == 'quiz:question_detail' %}aria-current="page"{% endif %} href="{% url 'quiz:questions' pk=quiz.pk %}">Вопросы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'quiz:user_answers_list' %}active{% else %}text-dark{% endif %}" {% if view_name == 'quiz:user_answers_list' %}aria-current="page"{% endif %} href="{% url 'quiz:user_answers_list' pk=quiz.pk %}">Мои попытки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'quiz:standings_list' %}active{% else %}text-dark{% endif %}" {% if view_name == 'quiz:standings_list' %}aria-current="page"{% endif %} href="{% url 'quiz:standings_list' pk=quiz.pk %}">Положение</a>
          </li>
        {% endif %}
      </ul>
    {% endwith %}
    <div class="row flex-lg-row-reverse align-items-center">
      {% block quiz_page %}{% endblock quiz_page %}
    </div>
  </div>
{% endblock content %}