{% extends "base.html" %}

{% block content %}
  <div class="container col-xxl-9">
    {% if quizzes %}
      <h1 class="display-6 fw-bold lh-1">
        Викторины
      </h1>
      {% for quiz in quizzes %}
        <div class="col-12">
          <div class="card shadow-sm mb-2">
            <div class="card-body">
              {% include "includes/quiz_detail.html" %}
            </div>
          </div>
        </div>
      {% endfor %}
      {% include "includes/pagination.html" %}
    {% else %}
      {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}
