{% extends "quiz/detail.html" %}

{% block quiz_page %}
  <div class="text-center">
    <h3>{{ question.name }}</h3>
    <h5> сложность: {{ question.difficulty }}</h5>
  </div>
  <p>{{ question.text|safe }}</p>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="row gy-3">
        <div class="col-12">
          <form>
            {% include "includes/make_form.html" %}
            <button type="sumbit" class="btn btn-primary">Ответить</button>
          </form>
        </div>
      </div>
    </div>
  </form>
{% endblock quiz_page %}