{% extends "quiz/detail.html" %}

{% block quiz_page %}
  <h3 class="display-8 fw-bold lh-1 mb-3">{{ quiz.name }}</h3>
  <div><span class="badge badge-pill text-bg-primary">{{ quiz.get_status_display }}</span></div>
  <p class="lead">{{ quiz.description|safe }}</p>
  <p class="lead">Начало: {{ quiz.start_time }}</p>
  <p class="lead">Продолжительность: {{ quiz.duration }} минут</p>
  <p class="lead">Создатель викторины: <span class="badge badge-pill text-bg-secondary">{{ quiz.creator.username }}</span></p>
  {% if quiz.organized_by.name %}
    <p class="lead">Организация: <span class="badge badge-pill text-bg-secondary">{{ quiz.organized_by.name }}</span></p>
  {% endif %}
{% endblock quiz_page %}