{% extends "quiz/detail.html" %}

{% block quiz_page %}
  <div class="p-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Кто</th>
          <th scope="col">Решено</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ result.user.username }}</td>
            <td>{{ result.solved }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock quiz_page %}