{% load static %}

<footer class="my-4 mt-auto">
  <div class="container pt-3 border-top d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      {% comment %} <a href="{% url 'homepage:homepage' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> {% endcomment %}
        <img src="{% static 'img/brain_icon.svg' %}" width="40" height="32" alt="иконка" />
      </a>
    </div>
    <span class="text-muted">Brainforces (c)</span>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="https://t.me/bebra_dev">
          <img src="{% static 'img/telegram.svg' %}" width="24" height="24" alt="телега" />
        </a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/fivan999">
          <img src="{% static 'img/github.svg' %}" width="24" height="24" alt="гит" />
        </a>
      </li>
    </ul>
  </div>
</footer>