{% if form.errors %}
  <div class="container">
    {% for error in form.non_field_errors %}
      <div class="row mb-3">
        <div class="col-5">
          <p style="color:red;">{{ error|escape }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <div class="container">
    {% for field in form %}
      <div class="row mb-3">
        <div class="col-5">
          <label for=" {{field.id_for_label}} ">
              {{ field.label }}
              {% if field.field.required %}
                  <span>*</span>
              {% endif %}
          </label>
          {{ field }}
          {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help"> 
                  {{ field.help_text|safe }}
              </small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color:red;">{{ error|escape }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="row mb-3">
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
    </div>
  </div>
</form>