{% load static %}
<header class="p-3 text-dark ">
  <div class="container col-xxl-8 p-2 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
      <a href="" class="d-flex align-items-left mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/brain_icon.svg' %}" width="40" height="32" alt="иконка" />
      </a>
      {% with request.resolver_match.app_name as app_name %}
        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="" class="nav-link {% if app_name == 'catalog' %}active text-white{% else %}text-dark{% endif %}">Главная</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Соревнования</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Архив</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Рейтинг</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Помощь</a>
          </li>
        </ul>
      {% endwith %}
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% if request.user.profile.image %}{{ request.user.profile.get_image_50x50.url }}{% else %}{% static 'img/default_user.svg' %}{% endif %}" width="50" height="50" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="">{{ request.user.username }}</a>
            {% if request.user.is_staff %}
              <a href="/admin/" class="dropdown-item">В админку</a>
            {% endif %}
            <li><hr class="dropdown-divider" /></li>
            {% if request.user.is_staff %}
              <a href="" class="dropdown-item">Список пользователей</a>
            {% endif %}
            <a class="dropdown-item" href="">Статистика</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="">Сменить пароль</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="">Выйти</a>
          {% else %}
            <a class="dropdown-item" href="">Войти</a>
            <a class="dropdown-item" href="">Зарегистрироваться</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="">Восстановить пароль</a>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
</header>
