{% load static %}
<header class="text-dark pt-3">
  <div class="container col-xxl-9">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-2">
      <a href="" class="d-flex align-items-left mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/brainforces.svg' %}" width="300" alt="иконка" />
      </a>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <img alt="аватарка" src="{% if request.user.profile.image %}{{ request.user.profile.get_image_50x50.url }}{% else %}{% static 'img/default_user.svg' %}{% endif %}" width="50" height="50" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'users:profile' pk=request.user.id %}">{{ request.user.username }}</a>
            {% if request.user.is_staff %}
              <a href="/admin/" class="dropdown-item">В админку</a>
            {% endif %}
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:password_change' %}">Сменить пароль</a>
            <a class="dropdown-item" href="{% url 'users:password_reset' %}">Восстановить пароль</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'users:login' %}">Войти</a>
            <a class="dropdown-item" href="{% url 'users:signup' %}">Зарегистрироваться</a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" href="{% url 'users:password_reset' %}">Восстановить пароль</a>
          {% endif %}
        </ul>
      </div>
    </div>
    <div>
      {% with request.resolver_match.app_name as app_name %}
        <ul class="nav nav-pills d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-2 border rounded-4 p-2">
          <li>
            <a href="{% url 'homepage:homepage' %}" class="nav-link {% if app_name == 'homepage' %}active text-white{% else %}text-dark{% endif %}">Главная</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'quiz' %}active text-white{% else %}text-dark{% endif %}">Соревнования</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Архив</a>
          </li>
          <li>
            <a href="{% url 'users:list' %}" class="nav-link {% if app_name == 'users' %}active text-white{% else %}text-dark{% endif %}">Рейтинг</a>
          </li>
          <li>
            <a href="" class="nav-link {% if app_name == 'about' %}active text-white{% else %}text-dark{% endif %}">Помощь</a>
          </li>
          <li>
            <a href="{% url 'organization:list' %}" class="nav-link {% if app_name == 'organization' %}active text-white{% else %}text-dark{% endif %}">Организации</a>
          </li>
        </ul>
      {% endwith %}
    </div>
  </div>
</header>
