<ul class="pagination mt-2">
  {% if page_obj.has_previous %}
    {% if page_obj.number|add:'-3' > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page=1">1</a>
      </li>
    {% endif %}
    {% if page_obj.number|add:'-3' >= 3 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number|add:'-3' }}">
          ...
        </a>
      </li>
    {% endif %}
  {% endif %}
  {% if paginator.page_range|length > 1 %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="">{{ i }}</a>
        </li>
      {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page_obj.has_next %}
    {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number|add:'3' }}">...</a>
      </li>
    {% endif %}
    {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
          {{ page_obj.paginator.num_pages }}
        </a>
      </li>
    {% endif %}
  {% endif %}
</ul>