<h3 class="display-7 fw-bold lh-1 mb-3">BrainForces Round {{ quiz.pk }}</h3>
<h3 class="display-8 fw-bold lh-1 mb-3">{{ quiz.name }}</h3>
<div>
  <span class="badge badge-pill text-bg-primary">{{ quiz.get_status_display }}</span>
  {% if quiz.is_ended %}
    <span class="badge badge-pill text-bg-primary">Итоги подведены</span>
  {% endif %}
</div>
<p class="lead">{{ quiz.description|safe }}</p>
<p class="lead">Начало: {{ quiz.start_time }}</p>
<p class="lead">Продолжительность: {{ quiz.duration }} минут</p>
<p class="lead">Создатель викторины: <span class="badge badge-pill text-bg-secondary">{{ quiz.creator.username }}</span></p>
{% if quiz.organized_by.name %}
  <p class="lead">Организация: <span class="badge badge-pill text-bg-secondary">{{ quiz.organized_by.name }}</span></p>
{% endif %}
<a href="{{ quiz.get_absolute_url }}" class="btn btn-primary">Смотреть</a>