{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
  <div class="container col-xxl-9">
    {% include "includes/search_form.html" %}
    {% if questions %}
      <div class="p-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Название вопроса</th>
              <th scope="col">Сложность</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="nav-link" href="{{ question.get_absolute_url }}">{{ question.name }}</a></td>
                <td>{{ question.difficulty }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include "includes/pagination.html" %}
    {% else %}
        {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}