{% extends "base.html" %}

{% block content %}
  <div class="container col-xxl-9">
    <form action="{% url 'archive:archive' %}" method="get" class="mb-2">
      {% csrf_token %}
      <div class="d-flex justify-content-between">
        <div class="col-4">
          <input type="text" name="searched" class="form-control" aria-label="Search" placeholder="Поиск" value="" />
        </div>
        <div class="col-5">
          <select class="form-select form-control" aria-label="Default select example" name="search_critery">
            <option value="all">Всё</option>
            <option value="name">Имя</option>
            <option value="text">Текст</option>
            <option value="tags">Теги</option>
          </select>
        </div>
        <button class="btn btn-primary col-3" type="submit">Найти</button>
      </div>
    </form>
    {% if questions %}
      <h1 class="display-6 fw-bold lh-1">
        Архив вопросов
      </h1>
      <div class="p-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Название вопроса</th>
              <th scope="col">Сложность</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="nav-link" href="{{ question.get_absolute_url }}">{{ question.name }}</a></td>
                <td>{{ question.difficulty }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include "includes/pagination.html" %}
    {% else %}
        {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}