{% extends "base.html" %}

{% load static %}
{% url 'archive:question_detail' %}

{% block content %}
  <div class="container col-xxl-8">
    {% if questions %}
      <h1 class="display-6 fw-bold lh-1">
        Архив вопросов
      </h1>
      <form class="col-12 d-inline-flex col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'archive:archive' %}" method="get">
        <input type="text" name="searched" class="form-control" aria-label="Search" placeholder="Поиск...">
        <select class="form-select" aria-label="Default select example" name="search_critery">
          <option value="all">По всем критериям</option>
          <option value="name">По имени</option>
          <option value="text">По тексту</option>
          <option value="tags">По тегам</option>
        </select>
        <button class="btn btn-outline-secondary" type="submit">Найти</button>
      </form>
      <div class="p-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Название вопроса</th>
              <th scope="col">Сложность</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="nav-link" href="{{ question.get_absolute_url }}">{{ question.name }}</a></td>
                <td>{{ question.difficulty }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      <div>
    {% else %}
        {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}