{% extends "organization/detail.html" %}

{% load widget_tweaks %}

{% block organization_page %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header card-header-secondary">
        <h4 class="card-title">Создать викторину</h4>
      </div>
      <div class="card-body p-2">
        {% for error in quiz_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ error|safe }}
          </div>
        {% endfor %}
        {% for field in quiz_form.visible_fields %}
          <p>
            {{ field.label }}
            {% if field.name == 'description' %}
              {{ field }}<br/>
            {% elif field.name == 'is_private' or field.name == 'is_rated' %}
              {{ field|add_class:'form-check-input' }}
            {% else %}
              {{ field|add_class:'form-control' }}
            {% endif %}
            <small><span class="text-muted">{{ field.help_text }}</span></small>
            {% for error in field.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error|safe }}
              </div>
            {% endfor %}
          </p>
        {% endfor %}
      </div>
    </div>
    {{ question_formset.management_form }}
    {% for error in question_formset.non_form_errors %}
      <div class="alert alert-danger" role="alert">
        {{ error|safe }}
      </div>
    {% endfor %}
    {% for form in question_formset %}
      <div class="card mb-4">
        <div class="card-header card-header-secondary">
          <h4 class="card-title">Добавить вопрос {{ forloop.counter }}</h4>
        </div>
        <div class="card-body p-2">
          {% for field in form.visible_fields %}
            <p>
              {% if field.name != 'DELETE' %}
                {{ field.label }}
                {% if field.name == 'is_correct' %}
                  {{ field|add_class:'form-check-input' }}
                {% elif field.name == 'text' %}
                  {{ field }}<br/>
                {% else %}
                  {{ field|add_class:'form-control' }}
                {% endif %}
                <small><span class="text-muted">{{ field.help_text }}</span></small>
                {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                  </div>
                {% endfor %}
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mb-3">Создать</button>
  </form>
{% endblock organization_page %}