{% extends "base.html" %}

{% block content %}
  <div class="container col-xxl-9">
    <h2 class="fw-bold display-6">
      {% if organization_name %}
        {{ organization_name }}
      {% else %}
        {{ organization.name }}
      {% endif %}
    </h2>
    {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'organization:profile' %}active{% else %}text-dark{% endif %}" {% if view_name == 'organization:profile' %}aria-current="page"{% endif %} href="{% url 'organization:profile' pk=request.resolver_match.kwargs.pk %}">Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'organization:users' %}active{% else %}text-dark{% endif %}" {% if view_name == 'organization:users' %}aria-current="page"{% endif %} href="{% url 'organization:users' pk=request.resolver_match.kwargs.pk %}">Участники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'organization:quizzes' %}active{% else %}text-dark{% endif %}" {% if view_name == 'organization:quizzes' %}aria-current="page"{% endif %} href="{% url 'organization:quizzes' pk=request.resolver_match.kwargs.pk %}">Викторины</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'organization:posts' or view_name == 'organization:post_detail' %}active{% else %}text-dark{% endif %}" {% if view_name == 'organization:posts' or view_name == 'organization:post_detail' %}aria-current="page"{% endif %} href="{% url 'organization:posts' pk=request.resolver_match.kwargs.pk %}">Объявления</a>
        </li>
      </ul>
    {% endwith %}
    <div class="row flex-lg-row-reverse align-items-center">
      {% block organization_page %}{% endblock organization_page %}
    </div>
  </div>
{% endblock content %}
