{% extends "organization/detail.html" %}

{% load static %}

{% block organization_page %}
  <div class="col-12">
    <div class="card shadow-sm mb-2">
      <div class="card-body">
        <h2 class="display-6 fw-bold">{{ post.name }}</h2>
        {{ post.text|safe }}
        <div class="d-flex justify-content-between">
          {% include "includes/like_block.html" %}
          {% include "includes/total_views_block.html" %}
        </div>
      </div>
    </div>
  </div>
  <h2 class="display-7 fw-bold">Комментарии</h2>
  {% if request.user.is_authenticated %}
    <form method="post" class="d-flex mb-3">
      {% csrf_token %}
      <input class="form-control me-2" type="textarea" placeholder="Введите комментарий" name="comment_text" />
      <button class="btn btn-primary" type="submit">Готово</button>
    </form>
  {% else %}
    <div><a href="{% url 'users:login' %}">Войдите</a>, чтобы оставить комментарий</div>
  {% endif %}
  {% for comment in comments %}
    <div class="col-12">
      <div class="card shadow-sm mb-2">
        <div class="card-body">
          <span class="fw-bold">{{ comment.user.username }}</span><br/>
          {{ comment.text }}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="col-12">
    {% include "includes/pagination.html" %}
  </div>
  <script src="{% static 'js/cookie.min.js' %}"></script>
  <script>
    const unliked_src = '/static/img/unliked.svg';
    const liked_src = '/static/img/liked.svg';
  </script>
  <script src="{% static 'js/like_process.js' %}"></script>
{% endblock organization_page %}