{% extends "organization/detail.html" %}

{% load widget_tweaks %}

{% block organization_page %}
  {{ context }}
  {% if user_is_admin %}
    <form method="post" class="mb-2">
      {% csrf_token %}
      {% for error in form.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error|safe }}
        </div>
      {% endfor %}
      <div class="gap-2 col-12 d-flex justify-content-between col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <div class="col-md-9 col-6">
          {% render_field form.username class="form-control" placeholder=form.username.help_text %}
        </div>
        <button type="submit" class="btn btn-primary col-md-3 col-6">Пригласить</button>
      </div>
      {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error|safe }}
        </div>
      {% endfor %}
    </form>
  {% endif %}
  {% if users %}
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Участник</th>
            <th scope="col">Роль</th>
            {% if user_is_admin %}
              <th scope="col">Действие</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a class="nav-link" href="{{ user.user.get_absolute_url }}">{{ user.user.username }}</a></td>
              <td>{{ user.get_role_display }}</td>
              {% if user_is_admin %}
                <td>
                  {% if user.user.id != request.user.id %}
                    {% if user.role < organization_to_user.role %}
                      {% if user.role == 2 or user.role == 1 %}
                        <a href="{% url 'organization:delete_user' pk=request.resolver_match.kwargs.pk user_pk=user.user.pk %}" class="nav-link">Удалить</a>
                      {% endif %}
                      {% if user.role == 2 %}
                        <a href="{% url 'organization:update_user_role' pk=request.resolver_match.kwargs.pk user_pk=user.user.pk new_role=1 %}" class="nav-link">Понизить</a>
                      {% elif user.role == 1 and user.role < organization_to_user.role %}
                        <a href="{% url 'organization:update_user_role' pk=request.resolver_match.kwargs.pk user_pk=user.user.pk new_role=2 %}" class="nav-link">Повысить</a>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    <a href="{% url 'organization:delete_user' pk=request.resolver_match.kwargs.pk user_pk=request.user.pk %}" class="nav-link">Выйти</a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "includes/pagination.html" %}
  {% else %}
    {% include "includes/empty.html" %}
  {% endif %}
{% endblock organization_page %}