{% extends "base.html" %}

{% block content %}
  <div class="container col-xxl-9">
    {% if posts %}
      <h1 class="display-6 fw-bold lh-1">
        Новости
      </h1>
      {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm mb-2">
            <div class="card-body">
              <h2 class="display-6 fw-bold">{{ post.name }}</h2>
              {{ post.text|safe }}
              Опубликовано: <span class="badge badge-pill text-bg-primary">{{ post.posted_by.name }}</span><br />
              <a href="{% url 'organization:post_detail' pk=post.posted_by.pk post_pk=post.pk %}" class="btn btn-primary mt-2">Смотреть</a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% include "includes/pagination.html" %}
    {% else %}
      {% include "includes/empty.html" %}
    {% endif %}
  </div>
{% endblock content %}