{% block content %}
  <h3 class="display-7 fw-bold lh-1 mb-3">BrainForces Round {{ forloop.counter }}</h3>
  <h3 class="display-8 fw-bold lh-1 mb-3">{{ quiz.name }}</h3>
  <span class="badge badge-pill text-bg-primary">{{ quiz.get_status_display }}</span>
  <p class="lead">{{ quiz.description|safe }}</p>
  <p class="lead">Начало: {{ quiz.start_time }}</p>
  <p class="lead">Продолжительность: {{ quiz.duration }} минут</p>
  <p class="lead">Создатель викторины: <span class="badge badge-pill text-bg-secondary">{{ quiz.creator.username }}</span></p>
{% endblock content %}